<!Doctype html>
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src=''></script>
		<meta charset="UTF-8">
		<title><%=@user.username%></title>
	</head>
	<body>
		<div id="poster">
			<div><a href="/users/<%=@user.username%>"><span>• </span><%=@user.username%><span> •</span></a></div>
		</div>
		<div id="allposts">
			<% @posts.each do |f|%>
				<div>
					<p class="posttime"><%= f.created_at%></p>
					<a href="/posts/<%="#{f.id}"%>"><p class="postcontent"><%=f.content%></p></a>
				</div>
			<% end %>
		</div>
	</body>
</html>
