<!Doctype html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src=''></script>
		<meta charset="UTF-8">
		<title><%=@post.id%></title>
	</head>
	<body>
		<% if session[:id]==@post[:user_id] %>
		<%=form_for Post.new, url: "/posts/#{@post.id}/edit", html: {method: :put} do |f|%>
			<%=f.text_field :content, value: @post.content%>
			<%=f.submit :post%>
		<% end %>
		<%=form_tag("/delete", method: "post") do%>
			<%=submit_tag("Delete Post")%>
		<% end %>

		<% else %>
			<p><%=@post.content%></p>
		<% end %>
		<div>
			<% @comments.each do |post| %>
	 		<a href="/users/<%=post.user.username%>"><%=post.user.username%></a>
	 		<p><%=post.created_at.strftime("%c") %></p>
	 		<a href="/posts/<%=post.id%>" class="comment"><%= post.content %></a>
	 		<% end %>
		</div>
		<%=form_for Post.new, url: "/posts/#{@post.id}/comment" do |f|%>
			<%=f.label(:content, "Comment")%>
			<%=f.text_field :content%>
			<%=f.submit :post%>
		<% end %>


	</body>
</html>