<!DOCTYPE html>
<html>
<head>
  <title>Railsblog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
  <h3> Railsblog </h3> 
	<nav>
		<ul>
		   <% if session[:id] %>
                <li> Hello <%= User.find(session[:id]).username %></li>
                 <li><%= link_to 'new Post', new_post_path %></li>
                <li><%= link_to 'edit profile', edit_user_path %></li>
                <li><%= link_to 'upgrade', edit_user_path %></li>
                <li><%= link_to 'logout', logout_path, method: :delete %></li>
			   <% else %>
               <li><%= link_to 'sign in', login_path %></li> 
                <li><%= link_to 'sign up', new_user_path %></li>
			<% end %>
		</ul>
	</nav>
</header>
	
	<%= flash[:notice] if flash[:notice] %>
    <%= flash[:alert] if flash[:alert] %>

<%= yield %>

</body>
</html>
